body {
  background: #050505;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #161c22;
}

*::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 20px;
}
